.button-add {
	position: fixed;
	bottom: 100px;
	left: 50%;
	transform: translateX(-50%);

	width: 65px;
	height: 65px;

	border-radius: 50%;

	background-color: #EAE6FB;

	//...
	border: none;

	&:active {
		background-color: #c8bbff;
	}

	&__icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 35px;
		height: 35px;
	}
}