.button-save {
	min-height: 30px;
	background-color: #c8bbff;
	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 20px;

	font-size: 15px;
	font-weight: 600;

	// перенести в reset
	border: none;
	padding: 5px 25px;
}